.subscribe {
  padding: 42px 0 33px;
  max-width: 1170px;
  margin: 77px auto 0;

  border: 1px solid #14A5DA;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  &__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
  }

  &__field {
    width: 270px;
    display: flex;
    flex-direction: column;

    &:nth-child(1) {
      margin-right: 30px;
    }
  }

  &__input {
    width: 100%;

    padding: 10px 20px;

    border: 1px solid #14A5DA;
    border-radius: 4px;

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;

    &:focus {
      background-color: #14A5DA1F;
      outline: none;

      &::placeholder {
        opacity: 0;
      }
    }

    &::placeholder {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #00000073;
    }
  }

  &__textarea {
    width: 570px;
    max-height: 128px;
    margin-top: 45px;

    & textarea {
      width: 100%;
      max-height: 128px;

      padding: 10px 20px;

      border: 1px solid #14A5DA;
      border-radius: 4px;

      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #000000;

      &:focus {
        background-color: #14A5DA1F;
        outline: none;

        &::placeholder {
          opacity: 0;
        }
      }

      &::placeholder {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #00000073;
      }
    }
  }

  & label {
    margin-bottom: 6px;

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
  }

  &__submit {
    padding: 11px 0 11px 0;
    margin-top: 20px;
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #14A5DA;

    border: none;
    outline: none;

    border-radius: 4px;

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    text-transform: uppercase;

    cursor: pointer;
  }

  &__row {
    margin-top: 27px;
    display: flex;
  }

  &:before {
    content: '';
    width: 78px;
    height: 78px;

    //background-color: #14A5DA1F;
    background-image: url("../../assets/rss-symbol.svg");
    background-repeat: no-repeat;
    background-position: 11px 11px;

    position: absolute;
    top: 0;
    left: 0;
  }

  &:after {
    content: '';
    width: 78px;
    height: 78px;
    background:linear-gradient(-45deg, transparent 55px, #14A5DA1F 0);
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media screen and (max-width: 1220px) {
  .subscribe {
    &__content {
      padding: 0 15px;
    }
  }
}

@media screen and (max-width: 630px) {
  .subscribe {
    &__content {
      padding: 0 15px;
    }

    &__row {
      flex-direction: column;
      width: 100%;

      padding: 0 35px;
    }

    &__field {
      width: 100%;

      &:nth-child(1) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    &__textarea {
      width: 100%;
      padding: 0 35px;
    }
  }
}

@media screen and (max-width: 465px) {
  .subscribe {
    &__title {
      font-size: 12px;
    }

    &__submit {
      width: 220px;
    }
  }
}
