.about {
  &__content {
    margin: 70px auto 0;

    max-width: 1170px;
    //margin:  0 auto;

    display: flex;
  }

  &__title {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    text-transform: uppercase;

    text-decoration: none;
  }

  &__desc {
    margin-left: auto;
    max-width: 770px;
  }

  &__subtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
  }

  &__detail {
    display: block;
    margin-top: 50px;

    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
  }
}

@media screen and (max-width: 1220px) {
  .about {
    &__content {
      padding: 0 15px;
      margin-top: 20px;
      flex-direction: column;
      align-items: center;
    }

    &__title {
      font-size: 22px;
      line-height: 19px;
    }

    &__subtitle {
      margin-top: 10px;
      font-size: 13px;
      line-height: 19px;
    }

    &__desc {
      max-width: 100%;
    }

    &__detail {
      margin-top: 20px;
      text-align: center;
    }
  }
}
